{{ form_start(form) }}
{# {{ form_widget(form) }} #}
<div class="col-sm-9">
	{{ form_widget(form.categoria, {'attr': {'class': 'form-control mr-0 ml-auto'}}) }}
</div><br>
<button class='tm-btn tm-btn-primary tm-btn-small'>{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
