{% extends 'layout.html.twig' %}
{% block contenido %}
	<h1>Categoria index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Categoria</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for categorium in categorias %}
				<tr>
					<td>{{ categorium.id }}</td>
					<td>{{ categorium.categoria }}</td>
					<td>
						{# <a href="{{ path('categoria_show', {'id': categorium.id}) }}">show</a> #}
						<a href="{{ path('categoria_edit', {'id': categorium.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('categoria_new') }}">Create new</a>
     <h1>Productos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.title }}</td>
         
                <td>
                    <a href="{{ path('productos_show', {'id': producto.id}) }}">show</a>
                    <a href="{{ path('productos_edit', {'id': producto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('productos_new') }}">Create new</a>


{% endblock %}
